/******************************************************************
  Template Name: Violet 
  Description: Violet ecommerce Html Template
  Author: Colorlib
  Author URI: https://colorlib.com/
  Version: 1.0
  Created: Colorlib
******************************************************************/

/*------------------------------------------------------------------
[Table of contents]

1.  Template default CSS
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
2.  Helper Css
3.  Header Section
4.  Hero Section
5.  Feature Section
6.  Latest Product Section
7.  Lookbok Section
8.  Logo Section
9.  Footer
10. Other Pages Style

-------------------------------------------------------------------*/

/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	background: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	color: #7b7b7b;
	font-weight: 400;
	line-height: 1.6;
	font-family: "Montserrat", sans-serif;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: "FuturaBT-Book";
	src: url("../fonts/FuturaBT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaBT-Book.woff") format("woff"), url("../fonts/FuturaBT-Book.ttf") format("truetype"), url("../fonts/FuturaBT-Book.svg#FuturaBT-Book") format("svg");
	font-weight: normal;
	font-style: normal;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title h2 {
	color: #1e1e1e;
	font-size: 60px;
	font-weight: 700;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	padding: 16px 40px;
	border: 2px solid #fff;
	border-radius: 50px;
	text-transform: uppercase;
}

.site-btn {
	color: #1e1e1e;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	padding: 16px 40px;
	border: 2px solid #1e1e1e;
	border-radius: 50px;
	cursor: pointer;
	text-transform: uppercase;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

.elements-section {
	padding-top: 100px;
}

.el-title {
	margin-bottom: 75px;
}

.element {
	margin-bottom: 100px;
}

.element:last-child {
	margin-bottom: 0;
}

/*---------------------
  Header
-----------------------*/

.header-section {
	height: 104px;
	padding-top: 38px;
	padding-bottom: 24px;
	padding-left: 45px;
	padding-right: 45px;
}

.inner-header .logo {
	float: left;
}

.inner-header .header-right {
	float: right;
	line-height: 30px;
}

.inner-header .header-right img {
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
}

.inner-header .header-right a {
	display: inline-block;
	position: relative;
}

.inner-header .header-right a img {
	margin-right: 0;
	margin-left: 4px;
}

.inner-header .header-right a span {
	font-size: 11px;
	color: #1e1e1e;
	width: 18px;
	height: 18px;
	border: 2px solid #D0D7DB;
	background: #fff;
	display: inline-block;
	line-height: 15px;
	text-align: center;
	border-radius: 50%;
	font-weight: 600;
	position: absolute;
	left: -9px;
	top: 14px;
}

.inner-header .user-access {
	float: right;
	margin-right: 100px;
}

.inner-header .user-access a {
	color: #1e1e1e;
	font-size: 16px;
	display: inline-block;
	font-weight: 500;
	position: relative;
	line-height: 42px;
}

.inner-header .user-access a.in {
	color: #838383;
	margin-left: 15px;
	position: relative;
}

.inner-header .user-access a.in::before {
	position: absolute;
	left: -13px;
	top: 1px;
	color: #1e1e1e;
	content: "/";
}

.inner-header .main-menu {
	float: right;
	margin-right: 150px;
}

.inner-header .main-menu ul li {
	display: inline-block;
	margin-left: 60px;
	position: relative;
}

.inner-header .main-menu ul li a {
	color: #1e1e1e;
	font-size: 16px;
	display: inline-block;
	font-weight: 500;
	position: relative;
	line-height: 42px;
}

.inner-header .main-menu ul li a.active:after {
	opacity: 1;
}

.inner-header .main-menu ul li a:hover:after {
	opacity: 1;
}

.inner-header .main-menu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 7px;
	width: 100%;
	height: 2px;
	background: #1e1e1e;
	content: "";
	opacity: 0;
	-webkit-transform: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.inner-header .main-menu ul li:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}

.inner-header .main-menu ul li .sub-menu {
	position: absolute;
	list-style: none;
	width: 220px;
	left: 0;
	top: 100%;
	padding: 20px 0;
	visibility: hidden;
	opacity: 0;
	margin-top: 50px;
	background: #fff;
	z-index: 99;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.2);
}

.inner-header .main-menu ul li .sub-menu li {
	display: block;
	margin: 0;
}

.inner-header .main-menu ul li .sub-menu li a {
	display: block;
	color: #000;
	margin-right: 0;
	padding: 0px 20px;
	font-size: 14px;
	line-height: 2.3;
}

.inner-header .main-menu ul li .sub-menu li a:after {
	display: none;
}

.slicknav_menu {
	display: none;
}

/*---------------------
  Search Bar
-----------------------*/

.search-model {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	z-index: 99999;
}

.search-model-form {
	padding: 0 15px;
}

.search-model-form input {
	width: 500px;
	font-size: 40px;
	border: none;
	border-bottom: 2px solid #333;
	background: none;
	color: #999;
}

.search-close-switch {
	position: absolute;
	width: 50px;
	height: 50px;
	background: #333;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	padding-top: 6px;
	font-size: 26px;
	top: 30px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	font-weight: 300;
}

/*---------------------
  Header Info
-----------------------*/

.header-info {
	background: #B0BCC2;
	overflow: hidden;
	padding: 10px 45px;
}

.header-info .header-item {
	overflow: hidden;
}

.header-info .header-item img {
	display: inline-block;
	margin-right: 13px;
}

.header-info .header-item p {
	display: inline-block;
	line-height: 1;
	font-size: 14px;
	color: #fff;
	font-weight: 500;
	margin-bottom: 0;
	position: relative;
	top: 3px;
}

/*---------------------
  Hero Slider
-----------------------*/

.hero-items .owl-dots {
	position: absolute;
	left: 110px;
	bottom: 62px;
}

.hero-items .owl-dots button {
	display: inline-block;
	height: 11px;
	width: 11px;
	background: #969D9E;
	border-radius: 50%;
	margin-right: 9px;
}

.hero-items .owl-dots button.active {
	background: #1e1e1e;
}

.hero-items .owl-nav button[type=button] {
	display: inline-block;
	height: 68px;
	width: 68px;
	background: #B0BCC2;
	font-size: 35px;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	left: 60px;
	top: 345px;
}

.hero-items .owl-nav button[type=button].owl-next {
	left: auto;
	right: 60px;
	display: none;
}

.single-slider-item {
	padding: 270px 0;
	text-align: center;
	height: 100%;
}

.single-slider-item h1 {
	color: #fff;
	font-size: 110px;
	font-weight: 700;
	line-height: 85px;
}

.single-slider-item h2 {
	color: #fff;
	font-size: 96px;
	font-weight: 400;
	margin-bottom: 28px;
}

.single-slider-item .primary-btn,
.single-slider-item h1,
.single-slider-item h2 {
	position: relative;
	top: 50px;
	opacity: 0;
}

.hero-items .owl-item.active .single-slider-item h1,
.hero-items .owl-item.active .single-slider-item h2,
.hero-items .owl-item.active .single-slider-item .primary-btn {
	top: 0;
	opacity: 1;
}

.hero-items .owl-item.active .single-slider-item h1 {
	-webkit-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.hero-items .owl-item.active .single-slider-item h2 {
	-webkit-transition: all 0.5s ease 0.6s;
	transition: all 0.5s ease 0.6s;
}

.hero-items .owl-item.active .single-slider-item .primary-btn {
	-webkit-transition: all 0.5s ease 0.8s;
	transition: all 0.5s ease 0.8s;
}

/*---------------------
  Features Section
-----------------------*/

.features-section {
	padding-bottom: 0;
}

.features-ads {
	padding-bottom: 67px;
}

.features-ads .single-features-ads {
	text-align: center;
	margin-bottom: 30px;
}

.features-ads .single-features-ads.first {
	margin-top: 39px;
}

.features-ads .single-features-ads.second {
	margin-top: 8px;
}

.features-ads .single-features-ads img {
	margin-bottom: 15px;
}

.features-ads .single-features-ads h4 {
	color: #1e1e1e;
	font-size: 22px;
	font-weight: 700;
	line-height: 50px;
}

.features-ads .single-features-ads p {
	color: #727272;
	font-size: 14px;
	line-height: 27px;
	font-weight: 500;
}

.features-box .single-box-item {
	position: relative;
}

.features-box .single-box-item.first-box {
	margin-bottom: 35px;
}

.features-box .single-box-item.first-box .box-text {
	position: absolute;
	right: 60px;
	top: 106px;
}

.features-box .single-box-item.first-box .box-text .trend-alert {
	color: #1e1e1e;
	display: block;
	font-size: 22px;
	font-family: "FuturaBT-Book";
	letter-spacing: 2px;
	line-height: 45px;
	text-transform: uppercase;
	margin-bottom: 38px;
}

.features-box .single-box-item.first-box .box-text .primary-btn {
	border-color: #D0D7DB;
	color: #1e1e1e;
}

.features-box .single-box-item.second-box {
	margin-bottom: 35px;
}

.features-box .single-box-item.second-box .box-text {
	position: absolute;
	left: 56px;
	top: 150px;
}

.features-box .single-box-item.second-box .box-text .trend-year {
	color: #fff;
	opacity: 1;
}

.features-box .single-box-item.second-box .box-text .trend-alert {
	color: #5b5b5b;
	display: inline-block;
	font-size: 16px;
	font-family: "FuturaBT-Book";
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 45px;
}

.features-box .single-box-item.large-box .box-text {
	position: absolute;
	left: 125px;
	top: 60px;
}

.features-box .single-box-item.large-box .box-text .trend-year {
	color: #838383;
	opacity: 1;
}

.features-box .single-box-item.large-box .box-text h2 {
	font-size: 60px;
	font-weight: 700;
	line-height: 56px;
}

.features-box .single-box-item.large-box .box-text .trend-alert {
	color: #5b5b5b;
	display: inline-block;
	font-size: 22px;
	font-family: "FuturaBT-Book";
	letter-spacing: 2px;
	line-height: 36px;
	text-transform: uppercase;
}

.features-box .single-box-item img {
	min-width: 100%;
}

.features-box .single-box-item .box-text .trend-year {
	color: #1e1e1e;
	font-size: 22px;
	font-weight: 700;
	opacity: 0.32;
	display: inline-block;
}

.features-box .single-box-item .box-text h2 {
	color: #1e1e1e;
	font-size: 48px;
	font-weight: 600;
	line-height: 38px;
}

/*---------------------
  Latest Product
-----------------------*/

.latest-products {
	padding-top: 55px;
	padding-bottom: 65px;
}

.product-filter {
	margin-bottom: 100px;
}

.product-filter .section-title {
	margin-bottom: 20px;
}

.product-filter .product-controls li {
	list-style: none;
	display: inline-block;
	color: #838383;
	font-size: 14px;
	margin-right: 42px;
	font-weight: 500;
	cursor: pointer;
}

.product-filter .product-controls li.mixitup-control-active {
	color: #1e1e1e;
}

.product-filter .product-controls li:hover {
	color: #1e1e1e;
}

.product-filter .product-controls li:last-child {
	margin-right: 0;
}

.single-product-item {
	margin-bottom: 30px;
}

.single-product-item figure {
	margin-bottom: 40px;
	position: relative;
	overflow: hidden;
}

.single-product-item figure img {
	min-width: 100%;
}

.single-product-item figure .p-status {
	position: absolute;
	left: 20px;
	top: 20px;
	padding: 5px 16px;
	font-size: 12px;
	background: #1e1e1e;
	color: #fff;
	border-radius: 50px;
}

.single-product-item figure .p-status.sale {
	background: #FE439F;
}

.single-product-item figure .p-status.popular {
	background: #D0D7DB;
}

.single-product-item .product-text {
	text-align: center;
}

.single-product-item .product-text h6 {
	color: #727272;
	margin-bottom: 15px;
}

.single-product-item .product-text p {
	color: #1e1e1e;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 0;
}

/*---------------------
  Lookbok Section
-----------------------*/

.lookbok-left {
	padding-top: 105px;
}

.lookbok-left .section-title {
	margin-bottom: 30px;
}

.lookbok-left .section-title h2 {
	line-height: 50px;
}

.lookbok-left p {
	color: #787878;
	font-size: 14px;
	line-height: 27px;
	font-weight: 500;
	margin-bottom: 40px;
}

.lookbok-left .primary-btn.look-btn {
	background-color: #B0BCC2;
}

.lookbok-pic {
	position: relative;
}

.lookbok-pic img {
	min-width: 100%;
	height: 100%;
}

.lookbok-pic .pic-text {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	font-size: 135px;
	color: #fff;
	font-weight: 600;
	line-height: 97px;
}

/*---------------------
  Logo Section
-----------------------*/

.logo-section {
	padding: 70px 120px;
}

.logo-section .logo-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 120px;
	opacity: 0.1;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.logo-section .logo-item:hover {
	opacity: 1;
}

.logo-section .owl-carousel .owl-item img {
	display: block;
	width: auto;
}

/*---------------------
  Footer
-----------------------*/

.footer-section {
	background: #262626;
	padding-bottom: 0;
}

.newslatter-form {
	margin-bottom: 90px;
}

.newslatter-form form {
	position: relative;
}

.newslatter-form form input {
	width: 100%;
	border: 2px solid #454747;
	border-radius: 50px;
	height: 53px;
	background: transparent;
	color: #535353;
	font-size: 14px;
	font-style: italic;
	font-weight: 600;
	padding-left: 30px;
	position: relative;
}

.newslatter-form form button {
	width: 310px;
	height: 53px;
	background: #B0BCC2;
	border: 2px solid #B0BCC2;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	border-radius: 50px;
	position: absolute;
	right: 0;
}

.footer-widget {
	margin-bottom: 40px;
}

.footer-widget .single-footer-widget {
	margin-bottom: 30px;
}

.footer-widget .single-footer-widget h4 {
	color: #fff;
	font-size: 26px;
	margin-bottom: 44px;
}

.footer-widget .single-footer-widget ul li {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	list-style: none;
	line-height: 36px;
	opacity: 0.5;
}

.social-links-warp {
	background: #222121;
	padding: 46px 0;
}

.social-links a {
	margin-right: 88px;
	display: inline-block;
}

.social-links a:last-child {
	margin-right: 0;
}

.social-links a i {
	font-size: 30px;
	color: #d7d7d7;
	float: left;
	margin-right: 19px;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.social-links a span {
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #9f9fa0;
	padding-top: 10px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.social-links a.instagram:hover i {
	color: #2F5D84;
}

.social-links a.google-plus:hover i {
	color: #E04B37;
}

.social-links a.twitter:hover i {
	color: #5abed6;
}

.social-links a.pinterest:hover i {
	color: #CD212D;
}

.social-links a.facebook:hover i {
	color: #39599F;
}

.social-links a.twitter:hover i {
	color: #5abed6;
}

.social-links a.youtube:hover i {
	color: #D12227;
}

.social-links a.tumblr:hover i {
	color: #37475E;
}

.social-links a:hover span {
	color: #fff;
}

/*---------------------------- Other Pages Styles ----------------------------*/

/*---------------------
  Page Add
-----------------------*/

.page-add {
	padding-top: 31px;
	margin-bottom: 92px;
}

.page-add .page-breadcrumb {
	padding-top: 34px;
}

.page-add .page-breadcrumb h2 {
	color: #1e1e1e;
	font-size: 48px;
	font-weight: 600;
}

.page-add .page-breadcrumb h2 span {
	color: #B0BCC2;
}

.page-add .page-breadcrumb a {
	color: #838383;
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	margin-right: 6px;
	position: relative;
}

.page-add .page-breadcrumb a.active {
	color: #1e1e1e;
}

.page-add .page-breadcrumb a:last-child:after {
	display: none;
}

.page-add .page-breadcrumb a:after {
	position: absolute;
	top: 1px;
	right: -5px;
	content: "/";
}

/*---------------------
  Categories Page
-----------------------*/

.categories-controls {
	margin-bottom: 45px;
}

.categories-controls .categories-filter .cf-left {
	float: left;
}

.categories-controls .categories-filter .cf-left .nice-select {
	background-color: transparent;
	border-radius: 0;
	border: none;
	position: relative;
	padding-left: 0;
	font-size: 14px;
	font-weight: 500;
	color: #838383;
}

.categories-controls .categories-filter .cf-left .nice-select:before {
	position: absolute;
	left: 0;
	bottom: 8px;
	width: 100%;
	height: 2px;
	background: #838383;
	content: "";
}

.categories-controls .categories-filter .cf-left .nice-select:after {
	height: 9px;
	right: 2px;
	top: 46%;
	width: 9px;
}

.categories-controls .categories-filter .cf-left .nice-select .list {
	border-radius: 0;
	margin-top: -8px;
}

.categories-controls .categories-filter .cf-right {
	float: right;
	line-height: 30px;
}

.categories-controls .categories-filter .cf-right span {
	color: #838383;
	font-size: 12px;
	font-weight: 500;
	margin-right: 24px;
}

.categories-controls .categories-filter .cf-right a {
	color: #838383;
	display: inline-block;
	font-size: 12px;
	font-weight: 500;
	margin-right: 25px;
	position: relative;
}

.categories-controls .categories-filter .cf-right a.active:after {
	opacity: 1;
}

.categories-controls .categories-filter .cf-right a:after {
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 10px;
	height: 2px;
	background: #000000;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.categories-controls .categories-filter .cf-right a:hover:after {
	opacity: 1;
}

.categories-controls .categories-filter .cf-right a:last-child {
	margin-right: 0;
}

.categories-page {
	padding-top: 0;
}

.categories-page .single-product-item figure {
	position: relative;
	z-index: 1;
}

.categories-page .single-product-item figure:hover:after {
	opacity: 0.48;
}

.categories-page .single-product-item figure:hover .hover-icon {
	opacity: 1;
	visibility: visible;
}

.categories-page .single-product-item figure:after {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #000000;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.categories-page .single-product-item figure .p-status {
	z-index: 99;
}

.categories-page .single-product-item figure .hover-icon {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-19px, -22px);
	transform: translate(-19px, -22px);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.categories-page .single-product-item .product-text {
	text-align: left;
	display: block;
}

.categories-page .single-product-item .product-text a {
	display: block;
}

.more-product {
	margin-top: 16px;
}

.more-product .primary-btn {
	color: #242424;
	border-color: #D0D7DB;
	font-weight: 700;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor: pointer;
}

/*---------------------
  Product Page
-----------------------*/

.product-control {
	margin-bottom: 53px;
}

.product-control a {
	color: #838383;
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	margin-right: 25px;
}

.product-slider .owl-dots {
	position: absolute;
	width: 100%;
	bottom: 34px;
	text-align: center;
}

.product-slider .owl-dots button {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 11px;
	width: 11px;
	background: #969d9e;
	border-radius: 50%;
	margin-right: 10px;
}

.product-slider .owl-dots button:last-child {
	margin-right: 0;
}

.product-slider .owl-dots button.active {
	background: #ffffff;
}

.product-img figure {
	margin: 0;
	position: relative;
}

.product-img figure img {
	min-width: 100%;
}

.product-img figure .p-status {
	position: absolute;
	left: 20px;
	top: 20px;
	padding: 3px 16px;
	font-size: 12px;
	background: #1e1e1e;
	color: #fff;
	border-radius: 50px;
}

.product-content {
	padding-top: 42px;
}

.product-content h2 {
	color: #1e1e1e;
	font-weight: 700;
	margin-bottom: 12px;
}

.product-content .pc-meta {
	margin-bottom: 35px;
}

.product-content .pc-meta h5 {
	color: #1e1e1e;
	font-weight: 700;
	margin-bottom: 18px;
}

.product-content .pc-meta .rating i {
	font-size: 20px;
	color: #FFD200;
	margin-right: 4px;
}

.product-content p {
	color: #838383;
	font-size: 14px;
	font-weight: 500;
	line-height: 30px;
	margin-bottom: 35px;
}

.product-content .tags {
	margin-bottom: 52px;
}

.product-content .tags li {
	color: #1e1e1e;
	font-size: 14px;
	font-weight: 600;
	line-height: 30px;
	list-style: none;
}

.product-content .tags li span {
	color: #838383;
}

.product-content .product-quantity {
	display: inline-block;
	margin-right: 10px;
}

.product-content .product-quantity .pro-qty {
	height: 56px;
	width: 173px;
	border: 2px solid #EEF1F2;
	border-radius: 50px;
	text-align: center;
}

.product-content .product-quantity .pro-qty input {
	width: 50px;
	text-align: center;
	background: transparent;
	border: none;
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	height: 100%;
}

.product-content .product-quantity .pro-qty .qtybtn {
	color: #838383;
	cursor: pointer;
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	padding: 16px 0;
}

.product-content .pc-btn {
	border-color: #D0D7DB;
	color: #4a4a4a;
}

.product-content .p-info {
	margin-top: 75px;
}

.product-content .p-info li {
	display: inline-block;
	list-style: none;
	color: #1e1e1e;
	font-size: 14px;
	font-weight: 600;
	margin-right: 28px;
	cursor: pointer;
}

/*---------------------
  Related Products
-----------------------*/

.related-product {
	padding-top: 95px;
	padding-bottom: 65px;
}

.related-product .section-title {
	margin-bottom: 60px;
}

/*---------------------
  Cart Page
-----------------------*/

.page-add.cart-page-add {
	margin-bottom: 34px;
}

.cart-table {
	margin-bottom: 28px;
}

.cart-table table {
	width: 100%;
}

.cart-table table thead {
	border-bottom: 2px solid #D0D7DB;
}

.cart-table table thead tr th {
	color: #838383;
	font-size: 12px;
	font-weight: 500;
	padding: 16px 0;
}

.cart-table table tbody td {
	margin-top: 29px;
	padding-top: 29px;
}

.cart-table table .product-h {
	text-align: left;
}

.cart-table table .quan {
	padding-left: 30px;
}

.cart-table table .product-col {
	display: table;
}

.cart-table table .product-col img {
	max-width: 168px;
}

.cart-table table .product-col .p-title {
	display: table-cell;
	vertical-align: middle;
	padding-left: 30px;
	padding-right: 15px;
}

.cart-table table .product-col .p-title h5 {
	color: #1e1e1e;
	font-weight: 600;
}

.cart-table table .price-col {
	color: #1e1e1e;
	font-size: 18px;
	font-weight: 600;
	width: 14%;
	padding-right: 15px;
}

.cart-table table .quantity-col {
	width: 28%;
}

.cart-table table .quantity-col .pro-qty {
	height: 56px;
	width: 173px;
	border: 2px solid #EEF1F2;
	border-radius: 50px;
	text-align: center;
}

.cart-table table .quantity-col .pro-qty input {
	width: 50px;
	text-align: center;
	background: transparent;
	border: none;
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	height: 100%;
}

.cart-table table .quantity-col .pro-qty .qtybtn {
	color: #838383;
	cursor: pointer;
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	padding: 16px 0;
}

.cart-table table .total {
	color: #1e1e1e;
	font-size: 18px;
	font-weight: 600;
	width: 16%;
}

.cart-table table .product-close {
	color: #1e1e1e;
	font-size: 18px;
	font-weight: 600;
	width: 6%;
	cursor: pointer;
}

.cart-btn {
	background: #F9FBFB;
	padding: 50px 0;
}

.cart-btn .coupon-input {
	padding-left: 35px;
}

.cart-btn .coupon-input input {
	height: 57px;
	width: 460px;
	border: none;
	border-bottom: 2px solid #D0D7DB;
	background: transparent;
	color: #1e1e1e;
	font-size: 14px;
	font-weight: 500;
}

.cart-btn .coupon-input input::-webkit-input-placeholder {
	color: #1e1e1e;
	font-weight: 600;
	text-transform: uppercase;
}

.cart-btn .coupon-input input::-moz-placeholder {
	color: #1e1e1e;
	font-weight: 600;
	text-transform: uppercase;
}

.cart-btn .coupon-input input:-ms-input-placeholder {
	color: #1e1e1e;
	font-weight: 600;
	text-transform: uppercase;
}

.cart-btn .coupon-input input::-ms-input-placeholder {
	color: #1e1e1e;
	font-weight: 600;
	text-transform: uppercase;
}

.cart-btn .coupon-input input::placeholder {
	color: #1e1e1e;
	font-weight: 600;
	text-transform: uppercase;
}

.cart-btn .site-btn.clear-btn {
	color: #4a4a4a;
	border-color: #D0D7DB;
	margin-right: 5px;
}

.cart-btn .site-btn.update-btn {
	margin-right: 35px;
}

.shopping-method {
	padding-top: 50px;
	padding-bottom: 100px;
}

.shipping-info {
	overflow: hidden;
	margin-bottom: 45px;
}

.shipping-info h5 {
	color: #1e1e1e;
	margin-bottom: 50px;
}

.shipping-info .cs-item {
	float: left;
	margin-right: 126px;
}

.shipping-info .cs-item.last {
	margin-right: 0;
}

.shipping-info .cs-item input[type=radio] {
	visibility: hidden;
	position: absolute;
}

.shipping-info .cs-item label {
	color: #838383;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	padding-left: 26px;
	cursor: pointer;
	position: relative;
}

.shipping-info .cs-item label:after {
	position: absolute;
	left: 0;
	top: 3px;
	height: 15px;
	width: 15px;
	border: 2px solid #D0D7DB;
	border-radius: 50%;
	content: "";
}

.shipping-info .cs-item label.active {
	color: #1e1e1e;
}

.shipping-info .cs-item label.active:after {
	border-color: #1e1e1e;
}

.shipping-info .cs-item label span {
	color: #838383;
	display: block;
	font-size: 12px;
	text-transform: none;
	margin-top: 9px;
	position: relative;
	cursor: text;
}

.shipping-info .cs-item label span:after {
	position: absolute;
	left: 0;
	bottom: 2px;
	width: 136px;
	border-bottom: 2px solid #D6D6D6;
	content: "";
}

.total-info .total-table {
	margin-bottom: 72px;
}

.total-info .total-table table {
	width: 100%;
}

.total-info .total-table table thead {
	border-top: 2px solid #D0D7DB;
	border-bottom: 2px solid #D0D7DB;
}

.total-info table tr th {
	color: #838383;
	font-size: 12px;
	font-weight: 500;
	padding: 16px 0;
}

.total-info table tr td {
	color: #1e1e1e;
	font-size: 18px;
	font-weight: 600;
	padding-top: 22px;
}

.total-info table tr .total {
	width: 26%;
}

.total-info table tr .total-cart {
	text-align: right;
	padding-right: 26px;
}

.total-info table tr .sub-total {
	padding-left: 8px;
}

.total-info table tr .shipping {
	padding-left: 12px;
}

.total-info table tr .total-cart-p {
	padding-right: 40px;
	text-align: right;
}

.total-info .primary-btn.chechout-btn {
	border-color: #1e1e1e;
	color: #1e1e1e;
}

/*---------------------
  Cart Total Page 
-----------------------*/

.cart-total-page {
	padding-top: 0;
}

.checkout-form h3 {
	color: #1e1e1e;
	margin-bottom: 75px;
	padding-bottom: 14px;
	border-bottom: 2px solid #D0D7DB;
}

.checkout-form .in-name {
	color: #1e1e1e;
	font-size: 14px;
	font-weight: 600;
	text-align: right;
	margin: 0;
	margin-top: 18px;
}

.checkout-form input[type=text] {
	width: 100%;
	border: 0;
	padding-bottom: 12px;
	border-bottom: 2px solid #E7EBED;
	color: #838383;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 32px;
}

.checkout-form .cart-select {
	margin-bottom: 35px;
}

.checkout-form .cart-select.country-usa {
	font-size: 16px;
	font-weight: 500;
}

.checkout-form .nice-select {
	border-radius: 0;
	border: none;
	font-size: 12px;
	color: #838383;
	height: 37px;
	width: 100%;
	border-bottom: 2px solid #E7EBED;
}

.checkout-form .nice-select:after {
	display: none;
}

.checkout-form .nice-select .list {
	margin-top: 3px;
	width: 100%;
	border-radius: 0;
}

.checkout-form .nice-select .option {
	color: #1e1e1e;
	font-weight: 600;
	font-size: 14px;
}

.checkout-form .diff-addr {
	margin-top: 12px;
}

.checkout-form .diff-addr input {
	width: auto;
	border: 0;
	padding-bottom: 0;
	border-bottom: none;
	margin-bottom: 0;
}

.checkout-form .diff-addr input[type=radio] {
	position: absolute;
	visibility: hidden;
}

.checkout-form .diff-addr label {
	color: #838383;
	font-size: 12px;
	font-weight: 500;
	cursor: pointer;
	padding-left: 26px;
	position: relative;
}

.checkout-form .diff-addr label.active:after {
	border-color: #1e1e1e;
}

.checkout-form .diff-addr label:after {
	position: absolute;
	left: 0;
	top: 1px;
	height: 15px;
	width: 15px;
	border: 2px solid #D0D7DB;
	border-radius: 50%;
	content: "";
}

.order-table {
	background: #f9fbfb;
	padding-top: 30px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 25px;
}

.order-table .cart-item {
	overflow: hidden;
	margin-bottom: 25px;
}

.order-table .cart-item span {
	display: inline-block;
	color: #838383;
	font-size: 12px;
	font-weight: 600;
}

.order-table .cart-item p {
	display: inline-block;
	float: right;
	color: #1e1e1e;
	font-size: 18px;
	font-weight: 600;
	margin: 0;
}

.order-table .cart-item p.product-name {
	font-size: 14px;
	font-weight: 600;
}

.order-table .cart-total {
	overflow: hidden;
	padding-top: 20px;
	border-top: 2px solid #D0D7DB;
	margin-top: 110px;
}

.order-table .cart-total span {
	display: inline-block;
	color: #838383;
	font-size: 12px;
	font-weight: 600;
}

.order-table .cart-total p {
	display: inline-block;
	float: right;
	color: #1e1e1e;
	font-size: 18px;
	font-weight: 600;
	margin: 0;
}

.payment-method {
	padding-top: 22px;
}

.payment-method h3 {
	margin-bottom: 60px;
	padding-bottom: 18px;
}

.payment-method ul {
	margin-bottom: 56px;
}

.payment-method ul li {
	color: #838383;
	font-size: 14px;
	font-weight: 500;
	list-style: none;
	margin-bottom: 25px;
}

.payment-method ul li img {
	margin-left: 20px;
}

.payment-method ul li label {
	cursor: pointer;
	position: relative;
}

.payment-method ul li label.active:after {
	border-color: #1e1e1e;
}

.payment-method ul li label:after {
	position: absolute;
	right: -35px;
	top: 4px;
	height: 15px;
	width: 15px;
	border: 2px solid #D0D7DB;
	border-radius: 50%;
	content: "";
}

.payment-method ul li input[type=radio] {
	position: absolute;
	visibility: hidden;
}

.payment-method button {
	color: #1e1e1e;
	background: transparent;
	border: none;
	font-weight: 600;
	width: 100%;
	padding: 16px;
	border: 2px solid #1e1e1e;
	border-radius: 50px;
	cursor: pointer;
	text-transform: uppercase;
}

/*---------------------
  Cart Total Page 
-----------------------*/

.contact-section {
	padding-bottom: 94px;
}

.contact-form input {
	width: 100%;
	font-size: 12px;
	font-weight: 600;
	color: #838383;
	border: 0;
	padding-bottom: 14px;
	border-bottom: 2px solid #E7EBED;
	margin-bottom: 25px;
}

.contact-form textarea {
	width: 100%;
	border-bottom: 2px solid #E7EBED;
	font-size: 12px;
	font-weight: 600;
	color: #838383;
	border-left: 0;
	height: 215px;
	border-right: 0;
	border-top: 0;
	resize: none;
	margin-bottom: 40px;
}

.contact-form button {
	color: #1e1e1e;
	background: transparent;
	border: none;
	font-size: 14px;
	font-weight: 600;
	padding: 16px 50px;
	border: 2px solid #1e1e1e;
	border-radius: 50px;
	cursor: pointer;
	text-transform: uppercase;
}

.contact-widget .cw-item {
	margin-bottom: 50px;
}

.contact-widget .cw-item h5 {
	color: #1e1e1e;
	font-weight: 600;
	margin-bottom: 30px;
}

.contact-widget .cw-item ul li {
	color: #838383;
	font-size: 14px;
	font-weight: 500;
	list-style: none;
	line-height: 28px;
}

.map {
	padding-top: 100px;
}

.map iframe {
	width: 100%;
}

/* ---------------------------------- Responsive Media Styles ---------------------------------*/

@media only screen and (min-width: 1500px) and (max-width: 1920px) {
	.inner-header .user-access {
		float: right;
		margin-right: 200px;
	}
	.inner-header .main-menu {
		float: right;
		margin-right: 238px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1340px) {
	.inner-header .user-access {
		margin-right: 60px;
	}
	.inner-header .main-menu {
		margin-right: 55px;
	}
}

/* Medium Device : 1280px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.inner-header .main-menu {
		margin-right: 70px;
	}
	.inner-header .main-menu ul li {
		margin-left: 45px;
	}
	.inner-header .user-access {
		display: none;
	}
	.header-info .shipping-chrg {
		margin-right: 10px;
	}
	.lookbok-left {
		padding-top: 0px;
	}
	.lookbok-pic .pic-text {
		font-size: 95px;
		line-height: 68px;
	}
	.social-links a {
		margin-right: 50px;
	}
	.product-content {
		padding-top: 20px;
	}
	.product-content .p-info {
		margin-top: 35px;
	}
	.cart-btn .site-btn.update-btn {
		margin-right: 0;
		padding: 16px 35px;
	}
	.header-info .shipping-chrg p {
		font-size: 13px;
	}
	.logo-section {
		padding: 70px 0;
	}
	.order-table .cart-item p.product-name {
		font-size: 12px;
		font-weight: 600;
		padding-top: 3px;
	}
}

/* Tablet Device : 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-section {
		padding-left: 0;
		padding-right: 0;
	}
	.inner-header .main-menu {
		margin-right: 50px;
	}
	.inner-header .main-menu ul li {
		margin-left: 30px;
	}
	.header-info .shipping-chrg {
		float: none;
		margin-right: 0;
	}
	.header-info .student-disc {
		float: none;
	}
	.header-info .coupon-code {
		float: none;
	}
	.inner-header .user-access {
		display: none;
	}
	.page-add .page-breadcrumb {
		margin-bottom: 20px;
	}
	.lookbok-left {
		margin-bottom: 30px;
	}
	.checkout-form .in-name {
		text-align: left;
	}
	.social-links a {
		margin-right: 15px;
	}
	.social-links a i {
		margin-right: 10px;
	}
	.cart-btn {
		padding: 50px 30px;
	}
	.cart-btn .coupon-input {
		padding-left: 0;
		margin-bottom: 30px;
	}
	.cart-btn .coupon-input input {
		width: 100%;
	}
	.shipping-info .cs-item {
		margin-right: 15px;
	}
	.contact-form {
		margin-bottom: 40px;
	}
	.logo-section {
		padding: 70px 0;
	}
	.lookbok-left {
		padding-top: 0;
	}
}

/* Large Mobile : 480px */

@media only screen and (max-width: 767px) {
	.header-section {
		height: auto;
		padding-bottom: 0;
	}
	.inner-header {
		overflow: hidden;
	}
	.inner-header .user-access {
		margin-right: 10px;
	}
	.slicknav_menu {
		display: block;
		margin-top: 10px;
	}
	.inner-header .header-right {
		margin-right: 20px;
		margin-top: 4px;
	}
	.slicknav_nav ul {
		margin: 0 0 0 0;
	}
	.main-menu {
		display: none;
	}
	.header-section {
		overflow: hidden;
	}
	.single-slider-item h1 {
		font-size: 72px;
	}
	.single-slider-item h2 {
		font-size: 42px;
	}
	.lookbok-left {
		margin-bottom: 30px;
	}
	.contact-form {
		margin-bottom: 40px;
	}
	.newslatter-form form button {
		position: relative;
		margin-top: 15px;
		width: 100%;
	}
	.header-info .shipping-chrg {
		float: none;
		margin-right: 0;
	}
	.header-info .student-disc {
		float: none;
	}
	.header-info .coupon-code {
		float: none;
	}
	.hero-items .owl-nav button[type=button] {
		left: 5px;
	}
	.social-links {
		text-align: center;
	}
	.social-links a {
		margin-right: 20px;
	}
	.social-links a i {
		margin-right: 0;
	}
	.social-links a span {
		display: none;
	}
	.lookbok-pic .pic-text {
		font-size: 115px;
		line-height: 82px;
	}
	.page-add .page-breadcrumb {
		margin-bottom: 20px;
	}
	.cart-table {
		overflow-y: auto;
	}
	.cart-btn {
		padding: 50px 30px;
	}
	.cart-btn .coupon-input {
		padding-left: 0;
		margin-bottom: 30px;
	}
	.cart-btn .coupon-input input {
		width: 100%;
	}
	.shipping-info .cs-item {
		margin-bottom: 15px;
	}
	.total-info .total-table {
		overflow-y: auto;
	}
	.checkout-form .in-name {
		text-align: left;
	}
	.logo-section {
		padding: 70px 0;
	}
	.lookbok-left {
		padding-top: 0;
	}
	.header-info .header-item {
		margin-bottom: 7px;
	}
	.search-model-form input {
		width: 100%;
	}
}

/* Small : 320px */

@media only screen and (max-width: 479px) {
	.header-section {
		padding-left: 0;
		padding-right: 0;
	}
	.inner-header .header-right {
		margin-right: 0;
	}
	.features-box .single-box-item.first-box .box-text {
		right: 9px;
		top: 7px;
	}
	.features-box .single-box-item .box-text h2 {
		font-size: 40px;
	}
	.features-box .single-box-item.first-box .box-text .trend-alert {
		margin-bottom: 7px;
	}
	.features-box .single-box-item.second-box .box-text {
		left: 20px;
		top: 56px;
	}
	.features-box .single-box-item.large-box .box-text {
		left: 20px;
		top: 28px;
	}
	.features-box .single-box-item.large-box .box-text h2 {
		font-size: 40px;
	}
	.product-filter .product-controls li {
		margin-bottom: 10px;
	}
	.section-title h2 {
		font-size: 36px;
	}
	.lookbok-pic img {
		height: auto;
	}
	.lookbok-pic .pic-text {
		font-size: 65px;
		line-height: 47px;
	}
	.social-links a {
		margin-right: 10px;
	}
	.product-content .product-quantity {
		margin-bottom: 15px;
	}
	.cart-btn .coupon-input input {
		width: 100%;
	}
	.cart-btn .site-btn.update-btn {
		margin-right: 0;
	}
	.cart-btn .site-btn.clear-btn {
		margin-bottom: 15px;
	}
	.header-info .header-item img {
		display: block;
	}
	.header-info {
		padding: 10px 0;
	}
}
.inner-header .header-right a{
	margin-right: 20px;
}